doctype html
html(lang="en")

  head
    title ahstro
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=0")
    meta(http-equiv="x-ua-compatible", content="ie=edge")
    link(type="text/css", rel="stylesheet", href="http://openfontlibrary.org/face/glacial-indifference")
    link(type="text/css", rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css")
    link(type="text/css", rel="stylesheet", href="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.min.css")
    link(type="text/css", rel="stylesheet", href="style.css")
    script(type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
    script(type="text/javascript", src="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/js/bootstrap.min.js")
    script(type="text/javascript", src="script.js")

  body
    .container
      header.text-center.m-t-md
        img.img-circle.hidden-xs-down(src="https://secure.gravatar.com/avatar/83ae68ae4761942297a8b8de54dec597?s=200")
        h1.display-2.m-a-0 Anton Strömkvist
        p.lead
          | Web developer, open source enthusiast, minimalist
          br
          a(href="https://github.com/ahstro", title="GitHub")
            i.fa.fa-lg.fa-fw.fa-github
          a(href="https://twitter.com/ahstro_", title="Twitter")
            i.fa.fa-lg.fa-fw.fa-twitter
          a(href="mailto:anton@lutic.org", title="E-mail")
            i.fa.fa-lg.fa-fw.fa-envelope-o

      hr.m-t-lg

      h1 Skills
      .row
        .col-md-3
          b Tech I love and use (almost) every day:
          ul
            li
              span HTML5/CSS3
            li
              span JavaScript (ES5)
            li
              span Git & GitHub
            li
              span Vim
            li
              span The terminal/Unix/Linux/Bash

        .col-md-3
          b Tech I'm beginning to love and use more frequently:
          ul
            li
              span Jade
            li
              span Sass/SCSS
            li
              span ECMAScript 6
            li
              span Node.js
            li
              span Express.js
            li
              span Bootstrap
            li
              span jQuery
            li
              span Functional programming
            li
              span MongoDB

        .col-md-3
          b Tech I've loved and/or used in the past:
          ul
            li
              span Python
            li
              span Android

        .col-md-3
          b Tech I want to love in the future:
          ul
            li
              span Haskell
            li
              span React
            li
              span Meteor

      hr.m-t-lg

      h1 IT-experience
      .row
        .col-md-4
          b Servers
          p.text-justify.
            I have been running my own machines for things like web servers,
            FTP servers, git repositories, etc. for a few years. As a result,
            I've become moderately confident working on remote machines via
            SSH, managing daemons and troubleshooting networks.
            My machines usually run Arch Linux, but I also have some
            experience with Debian-based systems.
        .col-md-4
          b Linux
          p.text-justify.
            I first heard about Linux in 2010 and immeadiately started playing
            around with the different distributions out there. I pretty quickly
            dual booted Ubuntu 10.10 on my computer - only keeping my current
            operating system for a few programs - and spent the next few months
            getting comfortable using the terminal and making the system work
            like I wanted before I, somewhat dissapointed about the lack of
            customizability - which was something I'd heard a lot about in
            regards to Linux - found Arch Linux, which I've been using as my
            only operating system for almost 4 years now.
        .col-md-4
          b Pair programming
          p.text-justify.
            Pair programing, for those uninitiated, is the act of programming
            together with another person on a single computer.
            I first came across it as an integral part of freeCodeCamp, and
            have since paired with people from all over the world while working
            through the FCC-curriculum.

      hr.m-t-lg

      h1 Work experience
      .row
        .col-xs-6
          b Bellis Blomsterhandel
        .col-xs-6
          .text-right
            span.hidden-xs-down June 2012 - September 
            | 2012
      .row
        .col-xs-6
          b Rosengården Ålderdomshem
        .col-xs-6
          .text-right
            | 2009 - 2011
            span.hidden-xs-down.text-sm  (during the summers)
      .row
        .col-xs-6
          b Olle Lind Golv AB
        .col-xs-6
          .text-right
            | 2007 - 2010
            span.hidden-xs-down.text-sm  (during the summers)

      hr.m-t-lg

      h1 Education
      .row
        .col-xs-6
          b freeCodeCamp
        .col-xs-6
          .text-right
            span.hidden-xs-down May 
            | 2015 
            span.hidden-xs-down - current

      .row
        .col-xs-6
          b Kista Folkhögskola
        .col-xs-6
          .text-right
            span.hidden-xs-down August 
            | 2014 - 
            span.hidden-xs-down June 
            | 2015

      .row
        .col-xs-6
          b Loxdale English Centre
        .col-xs-6
          .text-right
            span.hidden-xs-down January 2014 - June 
            | 2014

      .row
        .col-xs-6
          b Braheskolan
        .col-xs-6
          .text-right
            span.hidden-xs-down August 2013 - December 
            | 2013

      .row
        .col-xs-6
          b Fryshuset Gymnasium
        .col-xs-6
          .text-right
            span.hidden-xs-down August 
            | 2010 - 
            span.hidden-xs-down April 
            | 2012

      .row
        .col-xs-6
          b Internationella Engelska Skolan i Enskede
        .col-xs-6
          .text-right
            span.hidden-xs-down August 
            | 2007 - 
            span.hidden-xs-down June 
            | 2010

      .row
        .col-xs-6
          b Sunnerbyskolan
        .col-xs-6
          .text-right
            span.hidden-xs-down August 
            | 2001 - 
            span.hidden-xs-down June 
            | 2007

      hr.m-t-lg

      h1 Languages
      .row
        .col-xs-6
          b Swedish
        .col-xs-6
          .text-right Native

      .row
        .col-xs-6
          b English
        .col-xs-6
          .text-right Proficient

      .row
        .col-xs-6
          b Spanish
        .col-xs-6
          .text-right Beginner

      hr.m-t-lg

      footer.text-sm
        .row.m-b
          .col-xs-8.text-left
            | The 
            a(href="https://github.com/ahstro/resume") source
            span.hidden-xs-down  for this site 
            | is available under 
            a(href="https://github.com/ahstro/resume/blob/master/LICENSE.md") the MIT license
          .col-xs-4.text-right
            a(href="https://github.com/ahstro", title="GitHub")
              i.fa.fa-lg.fa-fw.fa-github
            a(href="https://codepen.io/ahstro", title="CodePen")
              i.fa.fa-lg.fa-fw.fa-codepen
            a(href="http://freecodecamp.com/ahstro", title="freeCodeCamp")
              i.fa.fa-lg.fa-fw.fa-fire
            a(href="https://twitter.com/ahstro_", title="Twitter")
              i.fa.fa-lg.fa-fw.fa-twitter
            a(href="https://telegram.me/ahstro", title="Telegram")
              i.fa.fa-lg.fa-fw.fa-paper-plane
            a(href="xmpp:ahstro@dukgo.com", title="XMPP/Jabber")
              i.fa.fa-lg.fa-fw.fa-comment
            a(href="mailto:anton@lutic.org", title="E-mail")
              i.fa.fa-lg.fa-fw.fa-envelope-o
            a(href="https://pgp.mit.edu/pks/lookup?op=vindex&search=0x50A3573EFBFA9867", title="PGP-key")
              i.fa.fa-lg.fa-fw.fa-lock

